body {
    background-color: #D2D2D2;
    margin: 0;
}

.content {
    width: 100%;
    height: 100vh;
}

#anim_img {
    width: 100%;
}

.bottom {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bottom_text {
    font-size: 12vw;
    font-weight: bold;
}

.bottom.is-crossed .bottom_text {
    color: #ffffff;
}